fastapi[all]
pydantic
pymongo
requests
cassandra-driver
time_uuid
tabulate
pydgraph
pandas
flask
logging_config
config
decouple
cerberus
werkzeug
pytest
pytest-flask
python-dotenv
marshmallow
pyjwt
flask-limiter
gunicorn
pyotp
